.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-wrapper {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.text-input {
  @include null-appearance;
  color: $plum;
  background-color: $lilac-white;
  border: none;
  border-bottom: 1px solid #594778;
  height: 1px;
  transition: height 0.2s ease 0s;
}

.input-label {
  transition: font-size 0.2s ease 0s;
}

.input-label.focus {
  font-size: 0.7rem;
  transition: font-size 0.2s ease 0s;
}

.text-input.focus {
  background-color: rgba($plum, 0.05);
  font-size: 1rem;
  height: 1.5rem;
  outline: none;
  padding: 1rem 0.5rem;
  transition: height 0.2s linear 0s;
}
