* {
  box-sizing: border-box;
}

body {
  background-color: $lilac-white;
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  color: $plum;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 1.24rem;
  text-align: left;
  letter-spacing: 0.05rem;
}

.center-plane {
  max-width: 100%;
  padding: 2.5rem;

  @media #{$desktop-screen} {
    margin: auto;
    width: 50%;
  }
}

.label-text {
  margin-top: 0;
}

.heading {
  margin-top: 0;
  text-align: center;
}

.action-button {
  @include null-appearance;
  background-color: $plum;
  color: $lilac-white;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  margin: 2rem;
  padding: 0.75rem;
  font-family: 'Dosis', sans-serif;
}
